<div class="container-fluid" style="margin-top: 70px;">
    <div class="row justify-content-around h-100">    
    <div class="row w-100">
            <label class="offset-md-3">On this page you can see a list of the loaded in ontologies.</label>
            <br>
            <label class="offset-md-3">You can also add a new one by clicking the Add Ontology button</label>
        <button type="button" class="offset-md-4 btn btn-secondary" (click)="openOntologyModal()">Add Ontology</button>
    </div>
    <br>
    {{messageService.testString}}
    </div>
</div>

<br>

<div  class="row">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                                        <th>#</th>
                                        <th>Ontology Base Uri</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                                <tr *ngFor="let x of ontologyService.ontologyArray; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{x}}</td>
                                </tr>

                </tbody>
            </table>
        </div>
    </div> 
</div>