<div class="container-fluid" style="margin-top: 70px;">
        <div class="row justify-content-around">
            <div class="col-xs-6">
                <button type="button" class="btn btn-secondary" (click)="downloadMapping()">Download Current Mapping</button>
                <br>
                <br>
				
                <div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Options</label>
					</div>
					<select (change)="formatChanged($event.target.value)">
						<option *ngFor="let Format of allformats" 
						[selected]="Format.fullName == selectedFormat[0].fullName"
						[value]="Format.shortName">
							{{Format.fullName}} ({{Format.extension}})  
						</option>
					</select>
				</div>
 
    
                <label class="container"> 
                    <input type="checkbox" data-md-icheck (change)="toggleChoosenFormat($event)"/>
                        Use this format for uploading?
                    
                    <span class="checkmark"></span>
                </label> 
            </div>
            <div class="col-xs-6" >
                <button type="button" class="btn btn-secondary" (click)="mappingUpload()">Upload Mapping</button>
                <br>
                <br>
                <label for="fileInput" class="btn btn-secondary">
                </label>
                <input type="file"  id="fileInput" (change)="mappingFileUpload($event)"/>
            </div>    
        </div>
    </div>