<div class="container-fluid" style="margin-top: 70px;">
  <div class="row justify-content-around h-100">

    <div  class="col-md-3">
      {{sqlQuery}}
    </div>

    <div  class="col-md-4">
      <div class="row">
      <div class="col-xs-2">
        <button class="btnValidateLeft btn-secondary">Test</button>
      </div>
      <div class="col-xs-2">
        <button class="btnValidateRight btn-secondary">Save</button>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <label for="inputAmountResults" class="input-group-text "> Amount of results </label>
      </div>
      <input type="text" class="form-control"  pattern="[0-9]*" id="inputAmountResults">
    </div>
  </div>

    <div  class="col-md-5">
        C
    </div>

  </div>
</div>